<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-6">
      <h2>Estudiantes activos</h2>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Programa</th>
            <th>Ver</th>
          </tr>
        </thead>
        <% @students.each do |student| %>
          <% if signed_in? && student.user == current_user %>
            <tbody>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.course %></td>
                <td><a href="<%= root_path %>"><i class="far fa-eye"></i></a></td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
