<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 pos_mobile">
        <h3>Contáctanos</h3>
        <ul>
          <li><i class="fa fa-envelope"></i> payzaiens@gmail.com</li>
          <li><i class="fa fa-phone-square"></i> 319 4942731 - 305 7044164</li>
          <li><i class="fa fa-map-marker"></i> Bogotá, Colombia</li>
        </ul>
      </div>
      <div class="col-md-4 pos_mobile">
        <h3>Nosotros</h3>
        <ul>
          <li><a href="<%= home_about_path%>">Como Funciona PayZaiens</a></li>
          <li><a href="<%= home_costs_path%>">Costos</a></li>
          <li><a href="<%= new_user_registration_path%>">Iniciar Ahora</a></li>
          <li>Ayuda</li>
        </ul>
      </div>
      <div class="col-md-4 pos_mobile">
        <h3>Síguenos</h3>
        <a href="https://www.facebook.com/royne.chaves" class="social" target="_blank"><i
            class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/roynechaves" class="social" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/royne-chaves-49618a168/" class="social" target="_blank"><i
            class="fab fa-youtube"></i></i></a>
      </div>
    </div>
  </div>
</footer>
<p class="p-footer">Desarrollado por <a href="http://zaiens.com" target="_blank">©Zaiens</a> developers.</p>