<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1>pagos</h1>
      <%= link_to "Nuevo Pago", new_payment_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
