// colores de los iconos

#pay-color{ font-size: 1.2rem; }

#eye-color{ font-size: 1.2rem; }
#eye-color:hover{
  color: #787272;
  text-shadow: 0.8px 0.8px 0.8px #000;
}

// division

.line-div{
  border-bottom: 3px solid rgba(33, 37, 41, 0.8);
  margin: 25px auto;
}
