// colores de los iconos

#pay-color{ font-size: 1.2rem; }

#eye-color{ font-size: 1.2rem; }
#eye-color:hover{
  color: #787272;
  text-shadow: 0.8px 0.8px 0.8px #000;
}

// division

.line-div{
  border-bottom: 3px solid rgba(33, 37, 41, 0.8);
  margin: 25px auto;
}

// total pagos
.pay-sum{
  color: green;
  font-size: 1.2rem;
  text-shadow: 1px 1px #000;
  font-weight: bold;
}

.index_bottom{
  margin-bottom: 30px;
}
